<script src="/bower_components/jquery/dist/jquery.min.js"></script>

<script src="/bower_components/magnific-popup/dist/jquery.magnific-popup.min.js"></script>

        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

        <script src="/socket.io/socket.io.js"></script>

        <script src="/js/main.js"></script>




<!-- form itself -->
<div id="form-select-name"  class="white-popup mfp-hide">
    <div class="form-group">

        <label for="inputEmail">Enter a name to join conference.</label>

        <input type="text" class="form-control" id="inputName" placeholder="Name">
        </div>
    <button type="submit" id="btnJoin" class="btn btn-primary">Join</button>
</div>

    </body>

</html>